@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

html,
body {
    background: #111;
    height: 200vh;
    overflow-x: hidden;
    overscroll-behavior: none;
    color: white;
    margin: 0;
    width: 100%;
}

@theme {
    --radius-5xl: 3rem;
    --radius-6xl: 4rem;
    --radius-7xl: 5rem;
}