---
import Layout from '@/layouts/Layout.astro';

import BackgroundImage from '@/assets/background.webp';
import LogoTechCrafted from '@/assets/logo.webp';
---

<Layout>
    <div id="mask_seccion"
        class="fixed sm:top-0 w-full h-screen
              bg-white dark:bg-neutral-800">

        <!-- Sección logo -->
        <section>
            <img
                src={BackgroundImage.src}
                alt="Background Image"
                class="h-full object-cover object-left fixed inset-0 z-0
                       opacity-100 brightness-100
                       dark:brightness-20"
            />

            <div  class="absolute inset-0 bg-gradient-to-br from-blue-600/30 via-cyan-400/25 to-teal-300/30">
                <div id="section_tech" class="absolute top-1/3 sm:top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2
                                              flex flex-col items-center gap-8">
                    <img
                        src={LogoTechCrafted.src}
                        alt="TechCrafted Logo"
                        id="logo"
                        class="h-auto block overflow-hidden
                               w-2/3 sm:scale-65 scale-60"
                    />

                    <cite class="text-black dark:text-white text-center not-italic sm:w-150 w-110 sm:text-2xl text-xl font-bold">
                        Un espacio dedicado a la tecnología, el desarrollo
                        y grandes ideas que merecen compartirse.
                    </cite>

                    <p class="text-black dark:text-white text-center not-italic w-128 sm:text-xl text-2xs font-bold">
                        Descubre más o conecta conmigo en redes.
                    </p>
                </div>
            </div>
        </section>

        <!-- Enlaces de redes sociales -->
        <div class="text-black dark:text-white fixed bottom-0 left-0 right-0 flex justify-center items-center gap-6 p-4 bg-black-800">
            <a href="https://x.com/TRuHa83" target="_blank" rel="noopener noreferrer" aria-label="X (Twitter)">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 1227" class="w-5 h-5 fill-current text-black hover:text-blue-500">
                    <path d="M714.163 519.284L1160.89 0H1055.03L667.137 450.887L357.328 0H0L468.492 681.821L0 1226.37H105.866L515.491 750.218L842.672 1226.37H1200L714.137 519.284H714.163ZM569.165 687.828L521.697 619.934L144.011 79.6904H306.615L611.412 515.685L658.88 583.579L1055.08 1150.31H892.476L569.165 687.854V687.828Z"/>
                </svg>
            </a>
            <a href="https://github.com/TRuHa83" target="_blank" rel="noopener noreferrer" aria-label="GitHub">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" class="w-5 h-5 fill-current text-black hover:text-blue-500">
                    <path d="M8 0a8 8 0 0 0-2.53 15.59c.4.07.55-.17.55-.38l-.01-1.49c-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48l-.01 2.2c0 .21.15.46.55.38A8 8 0 0 0 8 0Z"/>
                </svg>
            </a>
            <a href="https://www.linkedin.com/in/sergio-trujillo-de-la-nuez-32a4a727/" target="_blank" rel="noopener noreferrer" aria-label="LinkedIn">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 fill-current text-black hover:text-blue-500" viewBox="0 0 16 16">
                    <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854zm4.943 12.248V6.169H2.542v7.225zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248S2.4 3.226 2.4 3.934c0 .694.521 1.248 1.327 1.248zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016l.016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225z"/>
                </svg>
            </a>
        </div>
    </div>

    <div>
        <!-- Sección enlaces -->
        <section id="section_links"
                 class="fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-full sm:w-6xl sm:px-2 px-4 sm:flex flex-col sm:flex-row items-center justify-center gap-y-0 sm:gap-x-24">

            <!-- Noticias -->
            <div class="relative sm:scale-100 scale-70 sm:w-1/3">
                <a href="https://news.techcrafted.dev" class="block" target="_blank">
                    <div class="relative overflow-hidden rounded-2xl bg-white dark:bg-neutral-800 p-1 transition-shadow duration-500 shadow-[0_0_30px_rgba(0,_0,_0,_0.1)] hover:shadow-[0_0_50px_rgba(254,_226,_226,_0.7)] dark:hover:shadow-[0_0_30px_rgba(254,_226,_226,_0.5)] group">
                        <div class="relative bg-white dark:bg-neutral-800 rounded-xl p-8">
                            <div class="relative z-10">
                                <!-- Icono -->
                                <div class="mx-auto mb-6 flex h-16 w-16 items-center justify-center rounded-2xl bg-neutral-100 text-neutral-700 dark:bg-neutral-400 shadow-md transition-colors duration-500 group-hover:bg-red-100">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="40" width="40" viewBox="0 0 640 640">
                                        <path d="M64 480L64 184C64 170.7 74.7 160 88 160C101.3 160 112 170.7 112 184L112 472C112 485.3 122.7 496 136 496C149.3 496 160 485.3 160 472L160 160C160 124.7 188.7 96 224 96L512 96C547.3 96 576 124.7 576 160L576 480C576 515.3 547.3 544 512 544L128 544C92.7 544 64 515.3 64 480zM224 192L224 256C224 273.7 238.3 288 256 288L320 288C337.7 288 352 273.7 352 256L352 192C352 174.3 337.7 160 320 160L256 160C238.3 160 224 174.3 224 192zM248 432C234.7 432 224 442.7 224 456C224 469.3 234.7 480 248 480L488 480C501.3 480 512 469.3 512 456C512 442.7 501.3 432 488 432L248 432zM224 360C224 373.3 234.7 384 248 384L488 384C501.3 384 512 373.3 512 360C512 346.7 501.3 336 488 336L248 336C234.7 336 224 346.7 224 360zM424 240C410.7 240 400 250.7 400 264C400 277.3 410.7 288 424 288L488 288C501.3 288 512 277.3 512 264C512 250.7 501.3 240 488 240L424 240z"/>
                                    </svg>
                                </div>

                                <!-- Título y descripción -->
                                <h3 class="mb-3 text-black dark:text-white text-xl font-semibold text-center">Noticias</h3>
                                <p class="text-sm text-neutral-500 dark:text-neutral-400 mb-5 text-center">Últimas novedades y tendencias en tecnología y programación</p>

                                <!-- Botón de exploración -->
                                <div class="inline-flex items-center justify-center gap-1.5 text-sm font-medium px-4 py-2 rounded-lg bg-neutral-100 dark:bg-neutral-400 text-neutral-600 w-full transition-colors duration-500 group-hover:bg-neutral-200">
                                    <span>Explorar</span>
                                    <i class="fa-solid fa-arrow-right h-3.5 w-3.5"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <!-- Portafolio -->
            <div class="relative sm:scale-100 scale-70 sm:w-1/3">
                <a href="/portfolio" class="block" target="_blank">
                    <div class="relative overflow-hidden rounded-2xl bg-white dark:bg-neutral-800 p-1 transition-shadow duration-500 shadow-[0_0_30px_rgba(0,_0,_0,_0.1)] hover:shadow-[0_0_50px_rgba(219,_234,_254,_0.7)] dark:hover:shadow-[0_0_30px_rgba(219,_234,_254,_0.5)] group">
                        <div class="relative bg-white dark:bg-neutral-800 rounded-xl p-8">
                            <div class="relative z-10">
                                <!-- Icono -->
                                <div class="mx-auto mb-6 flex h-16 w-16 items-center justify-center rounded-2xl bg-neutral-100 text-neutral-700 dark:bg-neutral-400 shadow-md transition-colors duration-500 group-hover:bg-blue-100">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="40" width="40" viewBox="0 0 640 640">
                                        <path d="M264 112L376 112C380.4 112 384 115.6 384 120L384 160L256 160L256 120C256 115.6 259.6 112 264 112zM208 120L208 160L128 160C92.7 160 64 188.7 64 224L64 320L576 320L576 224C576 188.7 547.3 160 512 160L432 160L432 120C432 89.1 406.9 64 376 64L264 64C233.1 64 208 89.1 208 120zM576 368L384 368L384 384C384 401.7 369.7 416 352 416L288 416C270.3 416 256 401.7 256 384L256 368L64 368L64 480C64 515.3 92.7 544 128 544L512 544C547.3 544 576 515.3 576 480L576 368z"/>
                                    </svg>
                                </div>

                                <!-- Título y descripción -->
                                <h3 class="mb-3 text-black dark:text-white text-xl font-semibold text-center">Portafolio</h3>
                                <p class="text-sm text-neutral-500 mb-5 text-center">Explora mi perfil, habilidades y experiencia.</p>

                                <!-- Botón de exploración -->
                                <div class="inline-flex items-center justify-center gap-1.5 text-sm font-medium px-4 py-2 rounded-lg bg-neutral-100 dark:bg-neutral-400 text-neutral-600 w-full transition-colors duration-500 group-hover:bg-neutral-200">
                                    <span>Explorar</span>
                                    <i class="fa-solid fa-arrow-right h-3.5 w-3.5"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <!-- Blog -->
            <div class="relative sm:scale-100 scale-70 sm:w-1/3">
                <a href="https://blog.techcrafted.dev" class="block" target="_blank">
                    <div class="relative overflow-hidden rounded-2xl bg-white dark:bg-neutral-800 p-1 transition-shadow duration-500 shadow-[0_0_30px_rgba(0,_0,_0,_0.1)] hover:shadow-[0_0_50px_rgba(209,_250,_229,_0.7)] dark:hover:shadow-[0_0_30px_rgba(209,_250,_229,_0.5)] group">
                        <div class="relative bg-white dark:bg-neutral-800 rounded-xl p-8">
                            <div class="relative z-10">
                                <!-- Icono -->
                                <div class="mx-auto mb-6 flex h-16 w-16 items-center justify-center rounded-2xl bg-neutral-100 text-neutral-700 dark:bg-neutral-400 shadow-md transition-colors duration-500 group-hover:bg-green-100">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="40" width="40" viewBox="0 0 640 640">
                                        <path d="M288 88C288 74.7 298.7 64 312 64C457.8 64 576 182.2 576 328C576 341.3 565.3 352 552 352C538.7 352 528 341.3 528 328C528 208.7 431.3 112 312 112C298.7 112 288 101.3 288 88zM144 160C170.5 160 192 181.5 192 208L192 432C192 458.5 213.5 480 240 480C266.5 480 288 458.5 288 432C288 405.5 266.5 384 240 384C231.2 384 224 376.8 224 368L224 304C224 295.2 231.2 288 240 288C319.5 288 384 352.5 384 432C384 511.5 319.5 576 240 576C160.5 576 96 511.5 96 432L96 208C96 181.5 117.5 160 144 160zM312 160C404.8 160 480 235.2 480 328C480 341.3 469.3 352 456 352C442.7 352 432 341.3 432 328C432 261.7 378.3 208 312 208C298.7 208 288 197.3 288 184C288 170.7 298.7 160 312 160z"/>
                                    </svg>
                                </div>

                                <!-- Título y descripción -->
                                <h3 class="mb-3 text-black text-xl dark:text-white font-semibold text-center">Blog</h3>
                                <p class="text-sm text-neutral-500 mb-5 text-center">Ideas, guías y artículos personales sobre programación.</p>

                                <!-- Botón de exploración -->
                                <div class="inline-flex items-center justify-center gap-1.5 text-sm font-medium px-4 py-2 rounded-lg bg-neutral-100 dark:bg-neutral-400 text-neutral-600 w-full transition-colors duration-500 group-hover:bg-neutral-200">
                                    <span>Explorar</span>
                                    <i class="fa-solid fa-arrow-right h-3.5 w-3.5"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </section>
    </div>

</Layout>

<style>
    #section_links {
        visibility: hidden;
        opacity: 0;
        transform: scale(100);
    }
</style>

<script>
  import { gsap } from 'gsap';
  import { ScrollTrigger } from 'gsap/ScrollTrigger';

  gsap.registerPlugin(ScrollTrigger);

  // Animación GSAP
  const tl = gsap.timeline({
    ease: "power2.out",
    scrollTrigger: {
      scrub: 1
    }
  });

  tl
    .to('#section_tech', { scale: 0, opacity: 1, duration: 1 })
    .to('#section_links', { autoAlpha: 1, scale: 1, opacity: 1, duration: 2 }, "<");
</script>
