---
import Layout from '@/layouts/Layout.astro';

import BackgroundImage from '@/assets/background.webp';
import LogoTechCrafted from '@/assets/logo.webp';
---

<Layout>
    <div id="mask_seccion"
        class="fixed sm:top-0 w-full h-screen
              bg-white dark:bg-neutral-800">

        <!-- Sección logo -->
        <section>
            <img
                src={BackgroundImage.src}
                alt="Background Image"
                class="h-full object-cover object-left fixed inset-0 z-0
                       opacity-100 brightness-100
                       dark:brightness-20"
            />

            <div  class="absolute inset-0 bg-gradient-to-br from-blue-600/30 via-cyan-400/25 to-teal-300/30">
                <div id="section_tech" class="absolute top-1/3 sm:top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2
                                              flex flex-col items-center gap-8">
                    <img
                        src={LogoTechCrafted.src}
                        alt="TechCrafted Logo"
                        id="logo"
                        class="h-auto block overflow-hidden
                               w-2/3 sm:scale-65 scale-60"
                    />

                    <cite class="text-black dark:text-white text-center not-italic sm:w-150 w-110 sm:text-2xl text-xl font-bold">
                        Un espacio dedicado a la tecnología, el desarrollo
                        y grandes ideas que merecen compartirse.
                    </cite>

                    <p class="text-black dark:text-white text-center not-italic w-128 sm:text-xl text-2xs font-bold">
                        Descubre más o conecta conmigo en redes.
                    </p>
                </div>
            </div>
        </section>

        <!-- Enlaces de redes sociales -->
        <div class="text-black dark:text-white fixed bottom-0 left-0 right-0 flex justify-center items-center gap-6 p-4 bg-black-800">
            <a href="https://x.com/TRuHa83" target="_blank" aria-label="X (Twitter)"><i class="fab fa-x-twitter fa-xl"></i></a>
            <a href="https://github.com/TRuHa83" target="_blank" aria-label="GitHub"><i class="fab fa-github fa-xl"></i></a>
            <a href="https://www.linkedin.com/in/sergio-trujillo-de-la-nuez-32a4a727/" target="_blank" aria-label="LinkedIn"><i class="fab fa-linkedin fa-xl"></i></a>
        </div>
    </div>

    <div>
        <!-- Sección enlaces -->
        <section id="section_links"
                 class="fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-full sm:w-6xl sm:px-2 px-4 sm:flex flex-col sm:flex-row items-center justify-center gap-y-0 sm:gap-x-24">

            <!-- Noticias -->
            <div class="relative sm:scale-100 scale-70 sm:w-1/3">
                <a href="/news" class="block">
                    <div class="relative overflow-hidden rounded-2xl bg-white dark:bg-neutral-800 p-1 transition-shadow duration-500 shadow-[0_0_30px_rgba(0,_0,_0,_0.1)] hover:shadow-[0_0_50px_rgba(254,_226,_226,_0.7)] dark:hover:shadow-[0_0_30px_rgba(254,_226,_226,_0.5)] group">
                        <div class="relative bg-white dark:bg-neutral-800 rounded-xl p-8">
                            <div class="relative z-10">
                                <!-- Icono -->
                                <div class="mx-auto mb-6 flex h-16 w-16 items-center justify-center rounded-2xl bg-neutral-100 text-neutral-700 dark:bg-neutral-400 shadow-md transition-colors duration-500 group-hover:bg-red-100">
                                    <i class="fa-solid fa-newspaper fa-2xl"></i>
                                </div>

                                <!-- Título y descripción -->
                                <h3 class="mb-3 text-black dark:text-white text-xl font-semibold text-center">Noticias</h3>
                                <p class="text-sm text-neutral-500 dark:text-neutral-400 mb-5 text-center">Últimas novedades y tendencias en tecnología y programación</p>

                                <!-- Botón de exploración -->
                                <div class="inline-flex items-center justify-center gap-1.5 text-sm font-medium px-4 py-2 rounded-lg bg-neutral-100 dark:bg-neutral-400 text-neutral-600 w-full transition-colors duration-500 group-hover:bg-neutral-200">
                                    <span>Explorar</span>
                                    <i class="fa-solid fa-arrow-right h-3.5 w-3.5"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <!-- Portafolio -->
            <div class="relative sm:scale-100 scale-70 sm:w-1/3">
                <a href="/portfolio" class="block">
                    <div class="relative overflow-hidden rounded-2xl bg-white dark:bg-neutral-800 p-1 transition-shadow duration-500 shadow-[0_0_30px_rgba(0,_0,_0,_0.1)] hover:shadow-[0_0_50px_rgba(219,_234,_254,_0.7)] dark:hover:shadow-[0_0_30px_rgba(219,_234,_254,_0.5)] group">
                        <div class="relative bg-white dark:bg-neutral-800 rounded-xl p-8">
                            <div class="relative z-10">
                                <!-- Icono -->
                                <div class="mx-auto mb-6 flex h-16 w-16 items-center justify-center rounded-2xl bg-neutral-100 text-neutral-700 dark:bg-neutral-400 shadow-md transition-colors duration-500 group-hover:bg-blue-100">
                                    <i class="fa-solid fa-briefcase fa-2xl"></i>
                                </div>

                                <!-- Título y descripción -->
                                <h3 class="mb-3 text-black dark:text-white text-xl font-semibold text-center">Portafolio</h3>
                                <p class="text-sm text-neutral-500 mb-5 text-center">Explora mi perfil, habilidades y experiencia.</p>

                                <!-- Botón de exploración -->
                                <div class="inline-flex items-center justify-center gap-1.5 text-sm font-medium px-4 py-2 rounded-lg bg-neutral-100 dark:bg-neutral-400 text-neutral-600 w-full transition-colors duration-500 group-hover:bg-neutral-200">
                                    <span>Explorar</span>
                                    <i class="fa-solid fa-arrow-right h-3.5 w-3.5"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <!-- Blog -->
            <div class="relative sm:scale-100 scale-70 sm:w-1/3">
                <a href="https://blog.techcrafted.dev" class="block">
                    <div class="relative overflow-hidden rounded-2xl bg-white dark:bg-neutral-800 p-1 transition-shadow duration-500 shadow-[0_0_30px_rgba(0,_0,_0,_0.1)] hover:shadow-[0_0_50px_rgba(209,_250,_229,_0.7)] dark:hover:shadow-[0_0_30px_rgba(209,_250,_229,_0.5)] group">
                        <div class="relative bg-white dark:bg-neutral-800 rounded-xl p-8">
                            <div class="relative z-10">
                                <!-- Icono -->
                                <div class="mx-auto mb-6 flex h-16 w-16 items-center justify-center rounded-2xl bg-neutral-100 text-neutral-700 dark:bg-neutral-400 shadow-md transition-colors duration-500 group-hover:bg-green-100">
                                    <i class="fa-solid fa-blog fa-2xl"></i>
                                </div>

                                <!-- Título y descripción -->
                                <h3 class="mb-3 text-black text-xl dark:text-white font-semibold text-center">Blog</h3>
                                <p class="text-sm text-neutral-500 mb-5 text-center">Ideas, guías y artículos personales sobre programación.</p>

                                <!-- Botón de exploración -->
                                <div class="inline-flex items-center justify-center gap-1.5 text-sm font-medium px-4 py-2 rounded-lg bg-neutral-100 dark:bg-neutral-400 text-neutral-600 w-full transition-colors duration-500 group-hover:bg-neutral-200">
                                    <span>Explorar</span>
                                    <i class="fa-solid fa-arrow-right h-3.5 w-3.5"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </section>
    </div>

</Layout>

<style>
    #section_links {
        visibility: hidden;
        opacity: 0;
        transform: scale(100);
    }
</style>

<script>
  import { gsap } from 'gsap';
  import { ScrollTrigger } from 'gsap/ScrollTrigger';

  gsap.registerPlugin(ScrollTrigger);

  // Animación GSAP
  const tl = gsap.timeline({
    ease: "power2.out",
    scrollTrigger: {
      scrub: 1
    }
  });

  tl
    .to('#section_tech', { scale: 0, opacity: 1, duration: 1 })
    .to('#section_links', { autoAlpha: 1, scale: 1, opacity: 1, duration: 2 }, "<");
</script>
