---
import '@/styles/global.css';

import ThemeToggle from '../components/ThemeToggle.astro';
---

<!doctype html>
<html lang="es_ES">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>TechCrafted.dev</title>

		<!-- Meta tags for SEO -->
		<link rel="icon" type="image/png" sizes="48x48" href="/icon_48x48.webp">
		<link rel="apple-touch-icon" sizes="180x180" href="/icon_180x180.webp">
		<link rel="icon" type="image/png" sizes="192x192" href="/icon_192x192.webp">
		<link rel="icon" type="image/png" sizes="512x512" href="/icon_512x512.webp">

		<!-- Font Awesome -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
	</head>
	<body>
		<ThemeToggle />
		<slot />
	</body>
</html>
