---
import '@/styles/global.css';

import ThemeToggle from '../components/ThemeToggle.astro';
---

<!doctype html>
<html lang="es_ES">
	<head>
		<!-- Meta tags for SEO -->
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<title>TechCrafted.dev</title>

		<link rel="icon" type="image/webp" sizes="48x48" href="/icon_48x48.webp">

		<!-- Font Awesome -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
		<script defer src="http://10.0.10.10:30060/script.js" data-website-id="77f28db1-2409-4e33-8e45-c81b3bacc260"></script>
	</head>
	<body>
		<ThemeToggle />
		<slot />
	</body>
</html>
